Braindecode==0.5.1
h5py==3.3.0
matplotlib==3.4.1
mega==0.2.11
mne==0.23.2
moabb==0.4.4
numpy==1.21.2
Pillow==8.4.0
pptree==3.1
prettytable==2.1.0
pyEDFlib==0.1.22
pytorchvideo==0.1.3
scikit_learn==1.0.1
scipy==1.7.1
torch==1.8.1
torchvision==0.9.1
tqdm==4.62.2
xlrd==2.0.1
