better_apidoc==0.3.2
academictorrents==2.3.3
sphinx_markdown_tables
Braindecode==0.5.1
gdown==4.4.0
h5py==3.6.0
matplotlib==3.4.1
mne==0.23.2
moabb==0.4.5
numpy==1.21.2
Pillow==9.0.1
pptree==3.1
prettytable==2.1.0
pyEDFlib==0.1.22
pytorchvideo==0.1.3
scikit_learn==1.0.2
scipy==1.7.2
torch==1.8.1
torchvision==0.9.1
tqdm==4.62.2
xlrd==2.0.1